* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 90%;
    background-color: rgb(43, 43, 43);
}

html {
    height: 100%;
}

#cardBody {
    background-color: lightgrey;
}

#searchBtn {
    background-color: rgb(133, 252, 212);
    border-color:  rgb(43, 43, 43);
    color:  rgb(43, 43, 43);
}
