* {
    font-family: 'Times New Roman', Times, serif;
}

Body {
    height: 90%;
    background-color: lightgrey;
}

html {
    height: 100%;
}

#cardBody {
    background-color:rgb(43, 43, 43);
}

.btn-info {
    background-color: rgb(133, 252, 212);
}

#backBtn {
    background-color: rgb(250, 96, 96);
}

.list-group {
    gap: 1rem;
}

.list-group-item,
.list-group-item:first-child {
    border-radius: 1rem;
}