* {
    font-family: 'Times New Roman', Times, serif;
}

html {
    height: 100%;
}

#indexBody {
    height: 90%;
    background-color: rgb(43, 43, 43);
}

#searchBody {
    height: 90%;
    background-color: lightgrey;
}

#cardBodyIndex {
    background-color: lightgrey;
}

#cardBodySearch {
    background-color:rgb(43, 43, 43);
}

#searchBtnIndex {
    background-color: rgb(133, 252, 212);
    border-color:  rgb(43, 43, 43);
    color:  rgb(43, 43, 43);
}

#searchBtnSearch {
    background-color: rgb(133, 252, 212);
}

#backBtn {
    background-color: rgb(250, 96, 96);
}